/* Responsive Styles */

@media (min-width: 1600px) {
    .banner .img-fluid {
        max-width: 900px;
    }

    .banner h1 {
        font-size: 7.25rem;
    }

    .banner p {
        font-size: 2.6rem;
    }
}

@media (min-width: 1200px) {}

@media (max-width: 1200px) {
    .banner .img-fluid {
        max-width: 1000px;
    }

    .banner h1 {
        font-size: 5.25rem;
    }

    .banner p {
        font-size: 1.6rem;
    }
}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (min-width: 768px) {}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 530px) and (max-width: 768px) {}

@media (max-width: 530px) {
    .banner {
        background: url("/image/CleverCow_hero_small.png") no-repeat center center/cover;      
    }

    .banner h1 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1rem;
    }

}

@media all and (max-width: 398px) {}