.comparison {
  padding: size(120px) 0 size(80px) 0;
  z-index: 1;
  position: relative;

  @include vp-1023 {
    padding: 68px 0 40px 0;
  }

  &__bg {
    position: absolute;
    background-color: $color-nero;
    border-radius: 0px 0px size(80px) size(80px);
    top: 0;
    left: 0;

    width: 100%;
    height: calc(100% + 85px);

    @media (max-height: 768px) and (min-width: 1024px) {
      height: 100%;
    }

    @include vp-1023 {
      border-radius: 0px 0px 40px 40px;
      height: calc(100% + 20px);
    }
  }

  &__title {
    margin: 0 0 size(71px) 0;
    padding: 0 size(12px) 0 0;
    font-weight: 400;
    font-size: size(60px);
    line-height: 95%;
    color: $color-default-white;
    text-align: center;

    @include vp-1023 {
      margin: 0 0 38px 0;
      font-size: 40px;
    }

    span {
      position: relative;
      color: $color-nero;
      z-index: 1;

      &::after {
        position: absolute;
        content: "";
        left: size(2px);
        top: size(8px);
        width: size(107px);
        height: size(62px);
        border-radius: size(99px);
        background-color: $color-romantic;
        z-index: -1;

        @include vp-1023 {
          width: 76px;
          height: 44px;
          top: 5px;
        }
      }
    }
  }

  &__table {
    display: grid;
    grid-template-columns: size(234px) repeat(5, 1fr);
    gap: size(8px) size(16px);

    @include vp-1439 {
      gap: size(4px) size(8px);
    }

    @include vp-1023 {
      grid-template-columns: 180px repeat(5, 1fr);
      overflow-y: auto;
      padding: 0 24px;
      margin: 0 -24px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include vp-767 {
      grid-template-columns: 125px repeat(5, 124px);
      gap: 4px;
      padding: 0 16px;
      margin: 0 -16px;
    }
  }

  &__cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: size(59px);
    padding: size(12.5px) size(23px);
    font-size: size(18px);
    line-height: size(21px);
    color: $color-default-white;
    border: 1px solid $color-transparent;
    border-radius: size(16px);
    background-clip: padding-box;
    z-index: 1;

    @include vp-1023 {
      min-height: 50px;
      padding: 9px 15px;
      font-size: 14px;
      line-height: 16px;
      border-radius: 12px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -10;
      margin: -1px;
      border-radius: size(16px);
      background: linear-gradient(90deg, $color-dim-gray-2, $color-night-rider);

      @include vp-1023 {
        border-radius: 12px;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $color-night-rider;
      z-index: -1;
      border-radius: size(16px);

      @include vp-1023 {
        border-radius: 12px;
      }
    }

    & > svg {
      @include vp-1023 {
        width: 16px;
        height: 16px;
      }
    }

    &--heading {
      font-size: size(20px);
      line-height: size(23px);

      &::before {
        background-color: $color-charcoal;
      }

      @include vp-1023 {
        font-size: 14px;
        line-height: 16px;
      }
    }

    &--filmo {
      color: $color-night-rider;

      &::before {
        background-color: $color-cream-brulee;
      }

      &.comparison__cell--heading svg {
        width: size(146.8px);
        height: size(20.2px);

        @include vp-1023 {
          width: 92px;
          height: 12.66px;
        }
      }

      .comparison__icon {
        background-color: $color-cream-can;

        &--gear {
          svg {
            fill: $color-cream-can;
          }
        }
      }
    }

    &--option {
      justify-content: flex-start;
    }
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: size(32px);
    height: size(32px);
    margin: 0 size(4px) 0 0;
    color: $color-dark-goldenrod;
    border: 1px solid $color-transparent;
    border-radius: 50%;
    background-color: $color-cream-brulee;
    background-clip: padding-box;

    @include vp-1023 {
      width: 24px;
      height: 24px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      border-radius: 50%;
      background: linear-gradient(135deg, $color-metallic-gold, rgba($color-default-white, 0.46));
    }

    &:last-child {
      margin: 0;
    }

    svg {
      fill: none;
    }

    &--gear svg {
      fill: $color-cream-brulee;
      width: size(17px);
      height: size(17px);

      @include vp-1023 {
        width: 12px;
        height: 12px;
      }
    }

    &--diagram svg {
      width: size(14px);
      height: size(18px);

      @include vp-1023 {
        width: 9.72px;
        height: 12.15px;
      }
    }

    &--cup svg {
      width: size(16px);
      height: size(17px);

      @include vp-1023 {
        width: 10.45px;
        height: 11.23px;
      }
    }
  }
}
