<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CleverCow</title>
  <link href="/css/boxicons.min.css" rel="stylesheet" />
  <link href="/css/animate.min.css" rel="stylesheet" />
  <link href="/css/owl.carousel.min.css" rel="stylesheet" />
  <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
  <link href="/css/sweetalert2.min.css" rel="stylesheet" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href="/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div>
        <form id="payment-form">
        
            <ul class="nav nav-pills bg-nav-pills nav-justified mb-3 " id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="billing-tab" data-bs-toggle="tab" data-bs-target="#billing" type="button"
                       role="tab" aria-controls="billing" aria-selected="true"><i class='bx bxs-map'></i> Billing Info</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="shipping-tab" data-bs-toggle="tab" data-bs-target="#shipping" type="button"
                       role="tab" aria-controls="shipping" aria-selected="false"><i class='bx bxs-ship'></i>Shipping
                        Info</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="payment-tab" data-bs-toggle="tab" data-bs-target="#payment" type="button"
                       role="tab" aria-controls="payment" aria-selected="false"><i class="bx bx-money"></i> Payment Info</a>
                </li>
            </ul>
    
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="billing" role="tabpanel"
                                 aria-labelledby="billing-tab">
                                <div class="row">
                                    <div class="col wow fadeInUp animated" data-wow-delay="0.4s"
                                         style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                        <div class="border-green p-4 mb-3 rounded text-green">
                                            <div class="header-title mb-3">
                                                <i class='bx bx-id-card me-2'></i> Billing Information
                                            </div>
                                            <p class="mb-4">
                                                Fill the form below in order to send you the
                                                order's invoice.
                                            </p>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                        placeholder="Enter your first name"
                                                        name="billing_firstname"
                                                        wire:model="form.billing_firstname"
                                                        autocomplete="billing_firstname"
                                                        type="text"
                                                        id="billing_firstname"
                                                        class="form-control"
                                                    />
                                                        @error('email') <span class="text-danger">{{ $message }}</span> @enderror
                                                        <label for="floatingInput">First Name<span class="required">*</span></label>
                                                      </div>
    
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                            placeholder="Enter your last name"
                                                            name="billing_lastname"
                                                            wire:model="form.billing_lastname"
                                                            autocomplete="billing_lastname"
                                                            type="text"
                                                            id="billing_lastname"
                                                            class="form-control"
                                                        />
                                                        @error('email') <span class="text-danger">{{ $message }}</span> @enderror
                                                        <label for="floatingInput">Last Name<span class="required">*</span></label>
                                                      </div>
    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                            placeholder="Enter your email"
                                                            name="billing_email"
                                                            wire:model="form.billing_email"
                                                            autocomplete="billing_email"
                                                            type="email"
                                                            id="billing_email"
                                                            class="form-control"
                                                            required
                                                        />
                                                        @error('email') <span class="text-danger">{{ $message }}</span> @enderror
                                                        <label for="floatingInput">Email Address<span class="required">*</span></label>
                                                      </div>
    
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                        type="text"
                                                        name="phone_number"
                                                        placeholder="(xxx) xxxx-xxxx"
                                                        class="form-control"
                                                        wire:model="form.phone_number"
                                                    />
                                                    <div>@error('form.phone_number') {{ $message }} @enderror</div>
                                                        <label for="floatingInput">Phone</label>
                                                      </div>
    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                        placeholder="Enter your state"
                                                        name="billing_address"
                                                        wire:model="form.billing_address"
                                                        autocomplete="billing_address"
                                                        type="text"
                                                        id="form.billing_address"
    
                                                        class="form-control"
                                                    />
                                                    <div>@error('form.billing_address') {{ $message }} @enderror</div>
    
                                                        <label for="floatingInput">Address<span class="required">*</span></label>
                                                      </div>
    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                            placeholder="Enter your city name"
                                                            name="billing_towncity"
                                                            wire:model="form.billing_towncity"
                                                            autocomplete="billing_towncity"
                                                            type="text"
                                                            id="billing_towncity"
                                                            class="form-control"
                                                        />
                                                        <div>@error('form.billing_towncity') {{ $message }} @enderror</div>
    
                                                        <label for="floatingInput">Town / City</label>
                                                      </div>
    
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                            placeholder="Enter your state"
                                                            name="billing_state"
                                                            wire:model="form.billing_state"
                                                            autocomplete="billing_state"
                                                            type="text"
                                                            id="billing_state"
                                                            class="form-control"
                                                        />
                                                        <div>@error('form.billing_state') {{ $message }} @enderror</div>
    
                                                        <label for="floatingInput">State</label>
                                                      </div>
    
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                            placeholder="Enter your zip code"
                                                            name="billing_zippostal"
                                                            wire:model="form.billing_zippostal"
                                                            autocomplete="billing_zippostal"
                                                            type="text"
                                                            id="billing_zippostal"
                                                            class="form-control"
                                                        />
                                                        <div>@error('form.billing_zippostal') {{ $message }} @enderror</div>
    
                                                        <label for="floatingInput">Zip / Postal Code</label>
                                                      </div>
    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-floating mb-4">
    
                                                        <select
                                                        class="form-select form-control" id="floatingSelect" aria-label="Floating label select example"
                                                        wire:model="form.billing_country"
    
                                                    >
                                                        <option selected>Select Country</option>
                                                        <option value="australia" selected>
                                                            Australia
                                                        </option>
                                                    </select>
                                                    <div>@error('form.billing_country') {{ $message }} @enderror</div>
    
                                                        <label for="floatingSelect">Country</label>
                                                      </div>
    
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-floating mb-4">
                                                        <textarea
                                                            placeholder="Write some note.."
                                                            name="order_notes"
                                                            rows="3"
                                                            wire:model="form.order_notes"
                                                            autocomplete="order_notes"
                                                            type="textarea"
                                                            id="billing_notes"
                                                            class="form-control"
                                                        ></textarea>
                                                        <div>@error('form.order_notes') {{ $message }} @enderror</div>
    
                                                        <label for="floatingTextarea2">Order Notes:</label>
                                                      </div>
    
                                                </div>
                                            </div>
                                            <input type="hidden" name="plan_id" wire:model="form.plan_id"
                                                   value="{{$form->plan_id}}">
                                            <input type="hidden" id="payment_method_id" name="payment_method_id"
                                                   wire:model="form.payment_method_id">
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                                <div class="row">
                                    <div class="col wow fadeInUp animated" data-wow-delay="0.4s"
                                         style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                        <div class="border-green p-4 mb-3 rounded text-green">
                                            <div class="header-title mb-3">
                                                <i class="bx bx-map me-2"></i> Shipping Information
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                    Same billing address as shipping address.
                                                </label>
                                            </div>
                                            <div class="row">
    
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                        type="text"
                                                        name="phone_number"
                                                        placeholder="(xxx) xxxx-xxxx"
                                                        class="form-control"
                                                        wire:model="form.phone_number"
                                                    />
                                                    <div>@error('form.phone_number') {{ $message }} @enderror</div>
    
                                                        <label for="floatingInput">Phone</label>
                                                      </div>
    
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-floating mb-4">
                                                        <input
                                                        placeholder="Enter your state"
                                                        name="billing_address"
                                                        wire:model="form.billing_address"
                                                        autocomplete="billing_address"
                                                        type="text"
                                                        id="form.billing_address"
    
                                                        class="form-control"
                                                    />
                                                    <div>@error('form.billing_address') {{ $message }} @enderror</div>
    
                                                        <label for="floatingInput">Address<span class="required"
                                                            >*</span</label>
                                                      </div>
    
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input
                                                            placeholder="Enter your city name"
                                                            name="billing_towncity"
                                                            wire:model="form.billing_towncity"
                                                            autocomplete="billing_towncity"
                                                            type="text"
                                                            id="billing_towncity"
                                                            class="form-control"
                                                        />
                                                        <div>@error('form.billing_towncity') {{ $message }} @enderror</div>
                                                        <label for="floatingInput">Town / City</label>
                                                      </div>
    
    
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                       <input
                                                        placeholder="Enter your state"
                                                        name="billing_state"
                                                        wire:model="form.billing_state"
                                                        autocomplete="billing_state"
                                                        type="text"
                                                        id="billing_state"
                                                        class="form-control"
                                                    />
                                                    <div>@error('form.billing_state') {{ $message }} @enderror</div>
    
                                                        <label for="floatingInput">State</label>
                                                      </div>
    
    
    
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input
                                                        placeholder="Enter your zip code"
                                                        name="billing_zippostal"
                                                        wire:model="form.billing_zippostal"
                                                        autocomplete="billing_zippostal"
                                                        type="text"
                                                        id="billing_zippostal"
                                                        class="form-control"
                                                    />
                                                    <div>@error('form.billing_zippostal') {{ $message }} @enderror</div>
    
                                                        <label for="floatingInput">Zip / Postal Code</label>
                                                      </div>
                                                </div>
                                            </div>
    
    
                                            <input type="hidden" name="plan_id" wire:model="form.plan_id"
                                                   value="{{$form->plan_id}}">
                                            <input type="hidden" id="payment_method_id" name="payment_method_id"
                                                   wire:model="form.payment_method_id">
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                <div class="row">
                                    <div class="col wow fadeInUp animated" data-wow-delay="0.4s"
                                         style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                        <div class="border-green p-4 mb-3 rounded text-green">
                                            <div class="header-title mb-3">
                                                <i class="bx bx-money me-2"></i> Payment Selection
                                            </div>
                                            <p class=" mb-4">
                                                Fill the form below in order to send you the
                                                order's invoice.
                                            </p>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="">
                                                        <label
                                                            class="form-check-label font-16"
                                                            for="BillingOptRadio1"
                                                        >Credit / Debit Card</label
                                                        >
                                                    </div>
                                                    <p class="mb-0pt-1">
                                                        Safe money transfer using your bank account.
                                                        We support Mastercard, Visa, Discover and
                                                        Stripe.
                                                    </p>
                                                </div>
                                            </div>
    
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-floating mb-3">
                                                        <input
                                                            placeholder="Enter your name"
                                                            name="card_holder_name"
                                                            wire:model="form.card_holder_name"
                                                            autocomplete="card_holder_name"
                                                            type="text"
                                                            id="card_holder_name"
                                                            class="form-control"
                                                        />
                                                        <div>@error('form.card_holder_name') {{ $message }} @enderror</div>
                                                        <label for="floatingInput">Name on Card</label>
                                                      </div>
                                                </div>
    
    
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <div id="link-authentication-element">
                                                            <!-- Elements will create authentication element here -->
                                                        </div>
                                                        <div id="payment-element">
                                                            <!-- Elements will create form elements here -->
                                                        </div>
                                                        <div id="error-message">
                                                            <!-- Display error message to your customers here -->
                                                        </div>
    
                                                    </div>
                                                </div>
    
    
                                            </div>
                                        </div>
                                        @if ($errors->any())
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                                     aria-label="Danger:">
                                                    <use xlink:href="#exclamation-triangle-fill"/>
                                                </svg>
    
                                                <ul>
                                                    @foreach ($errors->all() as $error)
                                                        <li>{{ $error }}</li>
                                                    @endforeach
                                                </ul>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                        aria-label="Close"></button>
    
                                            </div>
                                        @endif
                                        @if (session('success'))
                                            <div class="alert alert-success">
                                                {{ session('success') }}
                                            </div>
                                        @endif
                                        @if (session('error'))
                                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img"
                                                     aria-label="Danger:">
                                                    <use xlink:href="#exclamation-triangle-fill"/>
                                                </svg>
                                                <div>
                                                    {{ session('error') }}
                                                </div>
                                            </div>
    
                                        @endif
    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="border-green p-4 mt-lg-0 rounded text-green">
                            <div class="header-title mb-3"><i class="bx bx-news me-2"></i>Order Summary</div>
                            <livewire:pages.order.order-summary :withButton="false"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a
                        class="btn text-muted d-none d-sm-inline-block btn-link fw-semibold text-decoration-none"
                        href="{{route('product')}}"
                    ><i class='bx bx-arrow-back me-2'></i>Back
                    </a>
                </div>
                <div class="text-sm-end col-sm-6">
                    <button
                        type="submit"
                        class="btn btn-orange btn-right-icon"
                        id="orderSubmit"
                    >
                                                <span wire:loading class="spinner-border spinner-border-sm" role="status"
                                                      aria-hidden="true"></span>
                        Proceed to payment
                    </button>
                </div>
            </div>
        </form>
    </div>


</body>
</html>