/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Nation2';
  font-weight: 400;
  font-style: normal;
  src:
    url('../fonts/national-2-regular.woff2') format('woff2'),
    url('../fonts/National2-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Nation2';
  font-weight: 600;
  font-style: normal;
  src:
    url('../fonts/national-2-bold.woff2') format('woff2'),
    url('../fonts/National2-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Nation2';
  font-weight: 800;
  font-style: normal;
  src:
    url('../fonts/national-2-condensed-extrabold.woff2') format('woff2'),
    url('../fonts/National2Condensed-Extrabold.otf') format('opentype');
}

body {
  font-family: 'Nation2', sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
  color: #005c4a;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


.bg-green {
  background-color: #005c4a !important;
  color: #fff;
}

.bg-green2 {
  background-color: #005B49 !important;
  color: #fff;
}

.nav-bg {
  transition: background-color 0.3s ease;
}
/* Background when scrolled */
.nav-bg.scrolled {
  background-color: rgba(0, 0, 0, 0.8); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

  /* 
  background: rgba(0, 92, 74, 0.9);
  box-shadow:
      0 4px 8px 0 rgba(0, 92, 74, 0.2),
      0 6px 20px 0 rgba(0, 92, 74, 0.19);
  padding: 1rem;
} */

.bg-light-green {
  background-color: #e0ffb4;
  color: #005c4a;
}

.bg-light-green2 {
  background-color: #c0ec5b;
  color: #005c4a;
}

.bg-orange {
  background-color: #ff6c22;
}

.bg-pink {
  background-color: #f6b7e6;
  color: #005c4a;
}

.bg-light-orange {
  background-color: #FFE2D3;
}
.btn {
  text-transform: uppercase;
}
.btn-outline-green{
  color: #005B49;
  border-color: #005B49; 
}


/* //Font// */
.font-10 {
  font-size: 0.625rem;
}

.font-12 {
  font-size: 0.75rem;
}

.font-14 {
  font-size: 0.875rem;
}

.font-16 {
  font-size: 1rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-20 {
  font-size: 1.25rem;
}

.font-22 {
  font-size: 1.375rem;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #54a079 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #54a079;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.Input {
  padding: 0.5rem 0.75rem !important;
}

.Label {
  font-size: 1rem;
  color: #005c4a !important;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.modal {
  position: relative;
  z-index: 1050;
}

.input-group-text, .form-control {
  height: 58px; 
  font-size: 1.1rem; 
}
.form-check-input:checked {
  background-color: rgb(0, 92, 74);
  border-color: #005c4a;
}

.form-check-input:focus {
  border-color: #016e58;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 92, 74, 0.25);
}

.form-floating>label {
  color: #626161;
}

.border-end {
  border-right: 1px solid #4b5c6e !important;
}

input,
select,
textarea {
  color: #005c4a !important;
  font-weight: 600 !important;
}

.banner-info {
  padding: 14rem 0;
  position: relative;
  z-index: 1;
}

.bg-overlay {
  background: rgba(0, 92, 74, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.text-blink {
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
}

/* //Top Nav bar// */
/* .home-navbar.navbar-light .navbar-nav .nav-item .nav-link {
color: #fff;
font-weight: 600;
} */

/* Navbar Styles */
.navbar {
  box-shadow: none;
  z-index: 1000;
  margin: 0px 50px;
}

.navbar .nav-link {
  color: #ffffff !important;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "National 2", sans-serif;
  color: var(--Gray-White, #e96e6e);
}

.navbar .nav-link:hover {
  color: #005B49 !important;
}

.navbar-toggler-icon {
  filter: invert(1);
  /* White icon */
}

.nav-icons-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.nav-icon i {
  color: #FFFFFF;
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


.navbar .nav-item {
  margin-right: 20px;
}

.navbar-inline {
  display: inline-flex;
  align-items: center;
  gap: 38px;
}

.navbar>.container {
  flex-direction: row-reverse;
}




.navbar-light .navbar-toggler {
  color: rgb(222 215 215 / 55%);
  border-color: transparent !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.nav-list ul {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;
  margin: 0;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-brand img {
  max-width: 250px;
}

.nav-shrink {
  background: rgba(0, 92, 74, 0.8);
  box-shadow:
    0 4px 8px 0 rgba(0, 92, 74, 0.2),
    0 6px 20px 0 rgba(0, 92, 74, 0.19);
  padding: 0.5rem;
}


/* Styling for the button */
.btn-main-2 {
  background-color: #ff7f50;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px 0px;
}

.btn-main-2:hover {
  background-color: #ff4500;
}



.nav-list ul li {
  list-style: none;
  font-weight: 600;
}

.navbar-header.bg-green .nav-list ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-header.bg-green .nav-list ul li a:hover {
  color: #005b49;
}

.nav-list ul li a {
  color: #005b49;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-logo {
  width: 250px;
}

.count {
  position: absolute;
  top: -17px;
  left: 4px;
  right: 0px;
  background-color: #f85e12;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  font-size: 0.55rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card {
 padding-right: 70px;
} */

.products .card,
.successful-page .card {
  background-color: transparent;
  border: 1px solid transparent;
}


.navbar-display-none {
  display: none;
}

.login-icon i,
.cart i {
  font-size: 1.375rem;
}

.top-nav .dropdown-menu {
  padding: 0;
}

.top-nav .dropdown-divider {
  margin: 0;
}

.top-nav .dropdown-item {
  color: #005c4a;
  padding: 1rem;
}

.top-nav .dropdown-item:hover {
  color: #ff6c22;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #e9ecef;
}


.join-btn {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: var(--Gray-White, #FFF);
  font-family: "National 2", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section {
  position: relative;
  overflow: hidden;
}

.no-gap {
  padding-left: 0;
  padding-right: 0;
}

/* Hero Section Styles */

/* //Banner-section// */
.banner-section {
  margin-top: 4.5rem;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center center;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  position: relative;
}

.banner-infos {
  padding: 26rem 0 4rem 0;
}

.banner {
  padding: 10rem 0;
}

.banner-img {
  max-width: 800px;
  margin-top: 10rem;
}

.banner-section .container {
  position: relative;
  z-index: 1;
}

.banner-text h5 {
  font-weight: 600;
  color: #a1d3e0;
}

.join-btn {
  display: flex;
  justify-content: center;
}

.join-btn button {
  font-size: 1rem;
}

.banner {
  position: relative;
  background: url("/image/CleverCow_hero.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.banner .block {
  color: #ffffff;
  
}

.banner h1 {
  font-size: 7.5rem;
  font-weight: 800;
  color: #ffffff;
}

.banner p {
  font-size: 24px;
  font-weight: 700;
  color: #8DC1CF;
}

.banner .btn-main-2 {
  background-color: #ff7f50;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
}

.banner .btn-main-2:hover {
  background-color: #ff4500;
}

.howItWork {
  align-items: center;
}

.home-pic2 {
  padding: 50px 75px 50px 0px;
}

/* .howItWork-text {
 padding: 60px 40px 50px 90px;
}
  */

.py-12 {
  padding-top: 3rem;
  /* 48px */
  padding-bottom: 3rem;
  /* 48px */
}



/* //About Section// */
.about-section {
  background: #fff;
}

.abt-img .abt-pic {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-height: 416px;
}

.p5 {
  padding: 0 2rem;
}

.title h1 {
  font-weight: 800;
  text-transform: uppercase;
}

.description h5,
.description p,
.description li {
  line-height: inherit;
  color: #197160;
  font-size: 1.15rem;
  font-weight: 400;
}


/* about section start */

.about-section2 .card {
  margin-bottom: 1rem;
}

.about-section2 .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about-section2 .card .clip3 {
  top: -132px;
}

.about-section2 h3 {
  font-weight: 600;
}

.section-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: url('/image/bg1-h2\ 1.png') no-repeat center center;
  background-size: cover;
  z-index: 0;
}


.title-container {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  border-radius: 40px;
  background: rgba(0, 91, 73, 0.10);
  padding: 2px 8px;
  max-width: fit-content;
  margin-left: 0;
}

.box-container {
  display: inline-flex;
  border-radius: 40px;
  background: rgba(0, 91, 73, 0.10);
  padding: 2px 8px;
  align-items: center;
  gap: 12px;
  max-width: fit-content;
  margin-left: 0;/
}

.box-text {
  font-size: 1rem;
  color: #005B49;
  margin: 0;
}

.font-54 {
  font-size: 3.375rem;
  color: #005B49;
  font-weight: 800;
}


.title-text {
  color: #005B49;
  font-size: 3.375rem;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}

.card-title {
  color: #00372C;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.card-text {
  color: #474646;
  font-size: 1.125rem;
}

/* about section start  */
.about-img img {
  border-radius: 2.5rem;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}



.marquee-section {
  background: #ffffff;
  padding: 0;
  overflow: hidden;

}

.marquee {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  overflow: hidden;
  max-height: 100px;
}

.text-right {
  text-align: right;
}


:root {
  --marquee-padding: 0px;
  --marquee-padding-negative: calc(var(--marquee-padding) * -1);
}

.marquee-join {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  padding: 5px 0;
  background-color: #005c4a;
}

.marquee-join .marquee_text {
  display: inline-block;
  /* padding-left: 100%; */
  animation: marquee 30s linear infinite;
  /* animation: marquee_flip 26s linear infinite;  For left to right */
}

.marquee-join .marquee_text ul {
  display: inline-flex;
  font-size: 16px;
  text-transform: uppercase;
  list-style-position: inside;
  margin-bottom: 0;
  list-style: none;
}

.marquee-join .marquee_text ul.marquee-content-primary {
  padding-left: 0px;
}

.marquee-join .marquee_text ul>li {
  padding-inline: 3rem;
  color: #c0ec5b;
  font-size: 4rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 16px;
}

.marquee-content-secondary {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: var(--marquee-padding);
}

@keyframes marquee {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translateZ(0);
  }

  to {
    -webkit-transform: translate3d(var(--marquee-padding-negative), 0, 0);
    transform: translate3d(var(--marquee-padding-negative), 0, 0);
  }
}




.title-card {
  margin-bottom: 74px;
}


.card-container {
  max-width: 400px;
  margin: auto;
  position: relative;
  border: none;
  background-color: transparent !important;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.aboutUs ,
.subscription {
  background-color: #D2EEFF;
}

.subscription .card{
  background-color: transparent;
  border: 1px solid transparent;
}



.card-header-custom {
  font-size: 1.625rem;
  color: #005C4A;
  border-radius: 1.25rem;
  box-shadow: 0rem 0.5rem 1.375rem 0rem rgba(15, 71, 116, 0.10);
  display: flex;
  width: 20.125rem;
  height: 7.25rem;
  padding: 1.625rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 2;
}

.card-img-top {
  margin-top: -50px;
}

.header-orange {
  background-color: #FDD5C0;
}

.header-blue {
  background-color: #D2EEFF;
}

.header-green {
  background-color: #E9F3EA;
}


.footer {
  background-color: #065f2e;
  color: white;
  padding: 2rem 1rem;
}

.footer-logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #c3f542;
}

.footer-links a {
  color: #ffffff;
  margin-right: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  color: #c3f542;
}

.newsletter-text {
  font-weight: bold;
  font-size: 1.25rem;
  color: #f1f1f1;
}

.newsletter-input {
  max-width: 400px;
  position: relative;
}

.newsletter-input input {
  border-radius: 0.25rem;
  padding-right: 2.5rem;
}

.newsletter-input button {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  background: transparent;
  border: none;
  color: #f1f1f1;
  font-size: 1.5rem;
}

.footer-bottom {
  border-top: 1px solid #ffffff33;
  padding-top: 1rem;
  font-size: 0.875rem;
  color: #cfcfcf;
}

.social-icons a {
  color: #f1f1f1;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}
















/* //product-detail// */
.productDetail-page {
  margin-top: 6rem;
}

.join-banner-section {
  background: url("/image/join.png") no-repeat center center/cover;
  min-height: 500px;  
  position: relative;
  margin-top: -100px;  
  z-index: 1;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.products-detail {
      padding-bottom: 7rem;
}

.products ul {
  list-style-position: outside;
}

.products ul li {
  font-size: 1.2rem;
  color: #197160;
}

.product-details h5, 
.product-details p {
  color: #474646;  
}


.product-pic img {
  object-fit: cover;
  object-position: 80% 100%;
  transition: 0.3s ease-out;
}

.products-info {
  padding-bottom: 4rem;
}

.products-info .title h1 {
  max-width: 85%;
  margin: 0 auto;
}

.spinner-section {
  position: relative;
  margin: -75px auto;
}

.spinner {
  max-width: 200px;
  max-height: 200px;
  position: absolute;
  bottom: -75px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


/* checkout start */

.bg-nav-pills {
  background-color: #eef2f7;
}

.bg-nav-pills li a {
  color: #005c4a;
  display: flex;
  flex-direction: column;
  gap: 1;
  justify-content: center;
  align-items: center;
}

.bg-nav-pills li a:hover {
  color: #f85e12;
}

.bg-nav-pills li.nav-item {
}


.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #f85e12;
    padding: 0.5rem;
}

.form-control {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  color: #212529;
  background-color: #e0ffb4;
  border-color: rgb(0, 92, 74);
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgba(0, 92, 74, 0.25);
}


.required {
  color: rgb(218, 23, 23);
}


.form-floating > label {
  color: #626161;
}
